// fonts var
$defaultFontFamily: GP;

$h2FontSize: 40px;
$h2FontWeight: 500;
$h3FontSize: 20px;
$h3FontWeight: 300;

//colors

$dijitRed: rgb(173, 20, 20);
$defaultTextColor: aliceblue;
$defaultBackColor: #1a1a1a;

//gradient

$LampColor: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.562) 0%,
    rgba(255, 255, 255, 0.463) 35%,
    rgba(252, 252, 252, 0) 100%
  );

$defaultBGColor: rgba(255, 255, 255, 0.699);