@import "default_variables.scss";
.DiscordJOin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  // background-image: url('../assets/img/backgrounds/BlackBg.jpg');
  // background-size: cover;
  background-color: #1a1a1a;
  &__content {
    // border-top: 4px solid rgb(255, 255, 255);
    // border-bottom: 4px solid rgb(255, 255, 255);
    max-width: 100%;
    border: 4px solid rgb(255, 255, 255);
  }
  &__h3 {
    font-family: $defaultFontFamily;
    font-size: 5em;
    font-weight: 400;
    color: white;
    margin-right: 20px;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    height: 250px;
    backdrop-filter: blur(2px);
    margin-right: 20px;
    margin-left: 20px;
  }
  &::before {
    position: absolute;
    content: "";
    top: -98px;
    left: 0px;
    // top: 0px;
    width: 45%;
    max-width: 800px;
    // height: 100px;
    // background-color: aqua;
    // border-left: 50px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 100px solid #1a1a1a;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -98px;
    right: 0px;
    // top: 0px;
    width: 45%;
    max-width: 800px;
    // height: 100px;
    // background-color: aqua;
    border-left: 70px solid transparent;
    // border-right: 50px solid transparent;
    border-top: 100px solid #1a1a1a;
    z-index: 2;
  }
}
