@import "default_variables.scss";

.home-page {
  font-family: $defaultFontFamily;
  color: white;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/img/backgrounds/backG2.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  &__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: #1a1a1a;
    // width: 100%;
    //ПОКА ХЗ
    // opacity: 0;
  }

  &__name-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    // max-width: 526px;
    // padding: 5px;
  }

  &__h1 {
    font-size: 14em;
    // font-weight: 1000;
  }

  &__h2 {
    font-size: 90px;
    font-weight: 400;
    margin: 15px;
  }
  &__p {
    margin-left: 15px;
  }
}

.Video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
