@import "default_variables.scss";
.languageButton {
  // position: fixed;
  // top: 30px;
  // right: 30px;
  width: 50px;
  height: 50px;
  color: $dijitRed;
  font-size: 25px;
  font-family: $defaultFontFamily;
  border: 5px solid $dijitRed;
  backdrop-filter: blur(10px);
  z-index: 2;
  &--active {
    background: $LampColor;
  }
}
