@import "default_variables.scss";

.navigation-bar {
    position: fixed;
    width: 100%;
    background-color: $defaultBackColor;
    color: $defaultTextColor;
    z-index: 3;
    height: 95px;

    &__h2{
        // font-size: $h2FontSize;
        color: aliceblue;
        font-weight: $h2FontWeight;
    }
    &__work-space {
        margin: 0 auto;
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-family: $defaultFontFamily;
    }

    &__logo {
        max-height: 95px;
    }

    &__ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    &__li {
        display: flex;
        align-items: center;
        margin: 0px 15px 0px 15px;
        height: 100%;
    }

    &__a {}

    &__h2 {
        font-size: $h2FontSize;
        // font-weight: $h2FontWeight;
    }
}