@import "default_variables.scss";

.navigation-bar {
    // background: linear-gradient(90deg, rgb(255, 255, 255)50%,rgb(215, 229, 13) 50%);
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(1px);

    // background-image: url('../assets/img/backgrounds/MainPageBGNoPrintWB.png');
    &__h2{
        font-size: 1em;
    }
    &__work-space {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-around;

        font-family: $defaultFontFamily;
    }

    &__logo {
        max-width: 120.52px;
    }

    &__ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    &__li {
        display: flex;
        align-items: center;
        margin: 0px 15px 0px 15px;
        height: 100%;
    }

    &__a {}

    &__h2 {
        font-size: $h2FontSize;
        font-weight: $h2FontWeight;
    }
}